<div class="container">
    <div class="row">
        <div class="col-md-6 text-white">
            <h1>App de Notas:</h1>
            <p class="mt-5 lead">App para crear,leer,actualizar y borrar notas de una base de datos
            </p>
            <img class="d-block col-md-5 mx-auto mt-3" src="/css/nodejs.png" alt="Node.js">
        </div>
        <img class="d-block col-md-4" src="/css/mogodb.png" alt="MongoDB">
    </div>
</div>