<h1 class="text-white display-5 text-center mt-3">
Ingresa con tu cuenta
</h1>
<form class="col-12 col-md-6 mx-auto" action="/signin" method="POST">
  <div class="form-group">
    <label >Email</label>
    <input type="email" name="email" class="form-control">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-outline-dark btn-lg d-block mx-auto text-white">Ingresar</button>
  
</form>